<div class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <footer>
                <div class="row">
                    <div class="col-md-6">
                        <span class='navbar-text'>
                            Created by <span id='auth-name'>{{author.name}}</span> @ <span id='auth-email'>{{author.email}}</span>
                        </span>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" 
                            class="btn btn-default navbar-btn" 
                            ng-click='like()'>
                            <i class="fa fa-fw fa-thumbs-o-up"></i>{{likeCount}}
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
