<header class='row customers view'>
    <legend class="col-md-12 text-info">
        <span class="col-md-3">
             <i class='fa fa-fw fa-check fa-2x'></i>
     TODO list 
        </span>
        <form class="form-inline  col-md-9 text-right">
        <div class="form-group">
                <input type="text" ng-model='vm.newTask.category' class='form-control' placeholder="Category Name">
            </div>
            <div class="form-group">
                <input type="text" ng-model='vm.newTask.taskName' class='form-control' placeholder="Task Name">
            </div>
            <div class="form-group">
                <input type="text" ng-model='vm.newTask.taskDesc' class='form-control' placeholder="Description">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button" data-ng-disabled="!vm.newTask.category || !vm.newTask.taskName" ng-click="vm.addTask(vm.newTask)">Add </button>
            </div>
        </form>
    </legend>
</header>
<br>
<div class="row">
    <div class="col-md-4" ng-repeat="(key, taskList) in vm.categories">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{key | titlecase}}
            </div>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="item in taskList" ng-class="{'task-done':item.isDone}" ng-click="item.isDone=!item.isDone">
                    <h4 class="list-group-item-heading">
                                {{item.task | titlecase}}
                                </h4>
                    <p class="list-group-item-text">{{item.desc}}</p>
                </a>
            </div>
        </div>
    </div>
</div>
